body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: url('/images/Mister-Rogers-Neighborhood.png');
background-color: #2a3235;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: center;
background-size: 65%;
}

h1 {
  font-variant: no-com;
  font-weight: 550;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#submit {
  border-radius: 4px;
  background-color:#3232f1;
  color: yellow;
}

#clear {
  border-radius: 4px;
  background-color:#f13232;
  color: blue;
}

#reverse {
  border-radius: 4px;
  background-color:#f1ee32;
  color: red;
}

.button:active {
  background-color: #1e1e9b;
  box-shadow: 0 3px rgb(4, 201, 191);
  transform: translateY(2px);
}

#conainter1 {
  font-weight: 550;
  background-color: rgba(0, 0, 0, 0.589);
  color: #fff;
}

.lyrics {
  margin-left: 3%;
}

