body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-variant: no-com;
  font-weight: 550;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.button {
  top:50%;
  background-color:#3232f1;
  color: #fff;
}

.button:active {
  background-color: #1e1e9b;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

